/******RESET CSS***********/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body, ul, h1, h2, h3, h4, p {
    margin: 0;
   
  
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

header {
    display: flex;
    justify-content: space-between;
    height: 93px;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
}

.Logo img {
    width: 77px;
    height: 26px;
}

nav {
    height : 100%;
    display: flex;
    justify-content: center;
}

nav.navLink a {
    
    border-top: 3px transparent solid;
    padding: 11px 30px 30px 30px;
}

nav.navLink a:hover {
    border-top: 3px var(--main-color) solid;
    color: #0065FC;
    
}

.search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-top: 30px;
    gap: 35px;
}

.searchInput::placeholder {
    color: #000;
    text-align: center;
}



.fa-map-marker-alt {
    border-radius: 12px 0px 0px 12px;
    background-color: var(--main-bg-color);
    padding: 16px;
}

.searchInput {
    position: relative;
    right: 5px;
    color: black;
    font-size: 16px;
    border: 1px solid var(--main-bg-color);
    font-weight: bold;
    padding: 15px;
}

.buttonDesktop {
    position: relative;
    right: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    background-color: var(--main-color);
    border: none;
    border-radius: 0px 12px 12px 0px;
    padding: 15px 13px 15px 13px;
    cursor: pointer;
}

.buttonMobile {
    display: none;
    position: relative;
    right: 10px;
    height: 49px;
    color: #ffffff;
    background-color: #0065FC;
    border: 1px solid var(--main-color);
    border-radius: 15px;
    font-size: 18px;
    padding: 15px 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.filtres {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.filtres h2 {
    font-size: 18px;
}
.filtreTypes p {
    font-weight: bold;
    white-space: nowrap;
}


.container-filtreTypes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}


.filtreTypes:hover {
    background-color: #DEEBFF;
    cursor: default;
}

 .filtreTypes {
    display: flex;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
 }

 .filters-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    width: 32px;
    height: 32px;
    margin: 1px;
    border-radius: 50%;
    

}

.info-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 49px;
}

.fa-info {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
}



.headline {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    align-self: stretch;
    gap: 40px;
}

.hebergements-and-populaires .activites {
    margin-top: 30px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 30px;

}

.hebergements-cards a {
    width: 30%;
    
}

.hebergements-cards {
    display: flex;
    gap: 18px;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 3px;
   
}

.hebergements-cards img {
    width: 100%;
    display: flex;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 10px;

}

.hebergements-cards .card-content {
    padding: 0px 15px; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    gap: 8px;
    height: calc(100% - 124px);
}

.hebergements-cards .card-content .card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding : 3px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



.activites {
    width: 100%;
    margin-top: 40px;
}



.activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

.activites-card .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 10px;
    
}

.activites .card-title {
    display: flex;
    justify-content: flex-start;
    
    
}

.activites-card {
    display: flex;
    padding: 30px;
    gap: 30px;
    
}

.activites-card img {
    display: flex;
    height: 439px;
    width: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}




.activites-card .card-txt {
    display: flex;
    flex: 1 1 76px;
    min-height: 76px;
    box-sizing: border-box;
    padding: 20px 19px;

}

footer {
    
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    background-color: #F2F2F2;
    padding: 10px 35px;
}

.footerMenu {
    width: 32%;
    
}

.footerMenu ul {
    padding-left: 0px;
    line-height: 30px;
}

.footerMenu a:hover {
    color: #0065FC;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .Logo{
        padding-top: 15px;
    }

    .container-filtreTypes {
        flex-wrap: nowrap;
    }
    
    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-card img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    .main-container {
        padding: 0;
    }

    .search {
        padding-left: 20px;
        padding-right: 20px;
    }


    header {
        width: 100%;
        flex-direction: column;
        margin-bottom: 30px;
        padding: 0;
        height: 161px;
        padding-top: 20px;
    }

    

    nav {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    nav.navLink a {
        width: 50%;
        border-bottom: 3px solid transparent;
        padding-top: 20px;
        
    }

    nav.navLink a:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
        
    }

    form {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .search {
        align-items: center;
    
    }

    .searchInput {
        width: 100%;
    }

    .buttonDesktop{
        display: none;
    }

    .buttonMobile {
        display: inline-flex;
        
    }

    .filtres {
        width: 100%;
        flex-wrap: wrap;
    }

    .container-filtreTypes{
        flex-wrap: wrap;
        width: 100%;
    }
    .filtreTypes {
        
        width: 48%;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        justify-content: center;
    }


    .populaires-cards {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .populaires-cards a {
        width: 100%;
    }

    .hebergements-cards{
        flex-direction: column;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .activites-card {
        flex-direction: column;
    }

    .activites-card a {
        width: 100%;
        height: 100%;
    }

    .activites-card img {
        width: 100%;
    }

    .activites-card .card-txt {
        flex: 1 1 59px;
        min-height: 59px;
    }

    footer  {
        flex-direction: column;
        padding: 30px;
        gap: 50px;
        
    }

    
}